
#top-bar{
    width: 100%;
    height: 45px;
    background-color: #545454;
    .container{
        .row{
            .menu{
                
                .concat{
                    ul{
                        li{
                            list-style: none;
                            color: white;
                            margin: 0 0 0 30px;
                            cursor: pointer;
                            transition: .2s;
                            &:hover{
                                color:rgb(202, 34, 34) ;
                            }
                            i{
                                margin-right: 10px;
                                color: rgb(202, 34, 34);
                            }
                        }
                    }
                }
                .social-media{
                    ul{
                        li{
                            margin: 0 0 0 10px;
                            list-style: none;
                            cursor: pointer;
                            i{
                                color: rgb(185, 178, 178);
                                transition: .2s;
                                &:hover{
                                    color: white;
                                }
                            }  
                           
                        }
                    }
                }
            }
        }
    }
}

header{
        position: sticky;
        top: 0;

        #main-header{
            width: 100%;
            height: 80px;
            background: rgb(255, 255, 255);
            .container{
                .row{
                    
                   
                    nav{
                    
                        .services{
                           
                            .logo{
                                
                                .oran{
                                    margin-left: 65px;
                                    width: 10px;
                                    height: 40px;
                                    background-color: rgb(189, 42, 42);
                                    span{
                                        margin-right: 10px;
                                        color: #545454;
                                        font-size: 30px;
                                        font-weight: bold;
                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                    }
                                }
                            }
                
                            .home{
                                ul{
                                    li{
                                        list-style: none;
                                        margin: 0 0 0 40px;
                                        cursor: pointer;
                                        &:hover{
                                            color: rgb(214, 41, 41);
                                        }

                                        .fa-bars{
                                            font-size: 25px;
                                        }

                                    }
                                     li:nth-child(3){
                                        color: rgb(214, 41, 41);
                                     }

                                     
                                }
                            }
                        }
                     }
                
                }
            }
        }
}



  #last-head{
    width: 100%;
                height: 100px;
                background-color: #efe7e7;
    .container{
        .row{
            .home-service{
                
                .serv{
                    p{
                        font-size: 16px;
                    }
                    margin-left: 60px;
        
                    h3{
                        font-size: 30px;
                    }
                }
            }
        }
    }
  }


main{
    #cards{
        .container{
            .row{
                .box{
                    width: 400px;
                    height: 350px;
                   
                    border: solid 1px rgb(229, 224, 224);
                    transition: .3s;
                    &:hover{
                        background-color: #E96B56;

                        .basket{
                            .icon{
                                
                                    background-color: white;
                                i{
                                    color:#E96B56 ;
                                }
                            }

                            .title{
                               h2{
                                color: white;
                               }
                            }

                            .text{
                                p{
                                    color: white;
                                }
                            }
                        }
                    }

                    .basket{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        .icon{
                            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
                            display: flex;
                        align-items: center;
                        justify-content: center;
                            width: 70px;
                            height: 70px;
                            background-color:#E96B56 ;
                            border-radius: 8px;
                            i{
                              font-size: 25px;
                              color: white; 
                              box-shadow: 0 0 black;
                              
                            }
                        }

                        .text{
                            p{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

#skills{
    .container{
        .row{
            .our{
                text-align: center;
               
                   hr{
                    width: 50px;
                    height: 4px;
                    color: #E96B56 ;
                   }
                
            }

            
        }
    }
}

#progres-bar{
    .images{
        img{
            width: 647px;
            height: 500px;
        }
    }

    .title{
        h2{
            color: #545454;
        }
    }

    .progress{
        margin: 50px 0 0 0;
    }

    
        span{
            font-size: 15px;
            font-weight: bold;
        }
    
}

#newsletter{
    margin-top: 70px;
              width: 100%;
                height: 250px;
                background-color: #404040;
    .container{
        .row{
            .email{            
                .title{
                   
                    h2{
                        font-size: 22px;
                    }
                    font-size: 15px;
                    color: white;
                }
        
                .search{
                    form{
                        position: relative;
                        input{
                            margin-top: 10px;
                            width: 600px;
                            border-radius: 15px;
                            border: none;
                            margin-right: 100px;
                            height: 40px;
                        }
        
                        button{
                            position: absolute;
                            top: 11px;
                            right: 102px;
                            width: 132px;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
    
}

footer{
   
    #last{
        width: 100%;
        height: 300px;
        background-color: #3B3B3B;

        .container{
            .row{
                h4{
                    color: white;
                    font-size: 19px;
                    margin-left: 12px;
                }
                p{
                    color: white;
                }
                ul{
                    li{
                        font-size: 15px;
                        list-style: none;
                        color: white;
                        margin: 15px 0 0 0;
                        transition: .1s;
                        cursor: pointer;
                        &:hover{
                            color: #E96B56;
                        }
                        i{
                            color: #E96B56;
                        }

                        i{
                            margin-right: 10px;
                        }
                    }
                }

                .social{
                    ul{
                        li{
                            margin: 0 0 0 10px;
                            
                            font-size: 30px;
                        
                            i{
                                color: white;
                                transition: .1s;
                                margin-right: 20px;
                                &:hover{
                                    color: #E96B56;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
   
    
}


#copyright{
    width: 100%;
    height: 150px;
    background-color:#404040 ;
    .container{
        .row{
            .text{
                text-align: center;
                color: white;
                span{
                    color: #E96B56;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    
    #main-header{
        .home{
            display: none;
        }

        .fa-solid{
            display: block;
        }
    }

  }

  @media only screen and (max-width: 1400px) {
    
    #progres-bar{
        .images{
            img{
                width: 560px;
                
            }
        }
    }
  }

  @media only screen and (max-width: 1200px) {
    
    #progres-bar{
        .images{
            img{
                width: 474px;
                
            }
        }
    }
  }

  @media only screen and (max-width: 992px) {
    
    #progres-bar{
        .images{
            img{
                width: 823px;
                
            }
        }
    }
  }

  @media only screen and (max-width: 1400px) {
    
    #cards{
        .box{
            .text{
               width: 360px;
            }
        }
    }
  }

  @media only screen and (max-width: 1200px) {
    
    #cards{
        .box{   
            .text{
               width: 300px;
            }
        }
    }
  }

  @media only screen and (max-width: 992px) {
    
    #newsletter{
        .title{
            p{
                width: 150px;
            }
        }
    }
  }

